[Desktop Entry]
Encoding=UTF-8
Name=EPTS
GenericName=Point and Bezier-Path Editor
Comment=Create and edit EPTS files describing points and Bezier paths
Exec=epts --gui %u
TryExec=epts
MimeType=application/x.epts+xml;application/javascript;application/emcascript;image/vnd.wap.wbmp;image/png;image/jpeg;image/bmp;image/gif;
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/epts.svg
Categories=Application;Graphics;
X-Ayatana-Desktop-Shortcuts=New
OnlyShowIn=GNOME;Unity;
StartupNotify=true

[New Shortcut Group]
Name=New EPTS Window
Exec=epts
TargetEnvironment=Unity
