[Desktop Entry]
Encoding=UTF-8
Name=EPTS
GenericName=Point and Bezier-Path Editor
Comment=Create and edit EPTS files describing points and Bezier paths
Exec=epts --gui -- %u
TryExec=epts
MimeType=application/vnd.bzdev.epts-state+xml;application/vnd.bzdev.epts-config+zip;application/javascript;application/ecmascript;image/vnd.wap.wbmp;image/png;image/jpeg;image/bmp;image/gif;
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/epts.svg
Categories=Application;Graphics;
StartupNotify=true
Actions=stacktrace;config;tracedconfig

[Desktop Action stacktrace]
Name = New Window, Stacktraces Enabled
Exec=epts --gui --stackTrace

[Desktop Action config]
Name = Configure Session
Exec=epts --sessionConfig

[Desktop Action tracedconfig]
Name = Configure Session, Stacktraces Enabled
Exec=epts --stackTrace --sessionConfig
